@import "tailwindcss";

@theme {
  --font-body: var(--font-inter);
  --font-heading: var(--font-geist);
}
:root {
  --background: #f9f9f9;
  --foreground: #333333;
  --font-inter: "Inter", sans-serif;
  --font-geist: "Geist", sans-serif;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-heading);
}
h1 {
  font-family: var(--font-body);
}
